#four{
	position: absolute;
	top: 21%;
	box-sizing: border-box;
	width: 100%;
	background-color: #330033;
	height: 500px;
	border:6px solid #333;
}
#i1{
	position: absolute;
	left: 30%;
	top: 60%;
	border-radius: 6px;
	color: #fff;
	padding: 10px 20px;
	background-color:  #333;
}
#voh{
	color: #fff;
	border-radius: 6px;
	padding: 10px 20px;
	font-size: 20px;
	position: absolute;
	left: 25%;
	top: 38%;
	background-color:#333;
}
.i2{
  	font-size:20px;
	position: absolute;
	left: 50%;
	top: 60%;
}
#hoh{
  color:#333;
  font-size: 30px;
	position: absolute;
	left: 33%;
	top: 17%;  
	padding: 10px 20px;
	border-radius: 6px;
	background-color: #ff6666;
  
}
#outputCelcius{
color: #fff;
	font-size: 20px;
	position: absolute;
	left: 43%;
	top: 80%;
	padding: 10px;
	background-color: #0099e6;
}
#sosh{
	color: #fff;
	font-size: 20px;
	position: absolute;
	left: 33%;
	top: 80%;
	padding: 10px 20px;
	border-radius: 6px;
	background-color: #333;
}
.btn{
	padding: 6px 17px;
	margin-right: 18px;
}
.bth{
	position: absolute;
	left: 40%;
}
.navbar{
	background-color: #330033;
}

.conta
{

	width: 100%;
	height: 700px;
    border: #2196f3;
    color:white;
    background:#031321;
}

.NeonLight
{
    border: black 2px solid;
    border-radius: 200px;
    padding:15px 30px; /*top and right padding area */
    position: absolute;
    top:39%;
    left: 45%;
    
}


.NeonLight:hover
{
   
    color:white;
    animation : BallBounce 2s, NeonLight 8s;
/*     animation-delay:10s; */
}


 @keyframes BallBounce
{

    0%
    {
        border-left-color: white;
        /* transition:  border-bottom-color 20s;   */
        border-left-width:1px;
    }
   
    25%
    {
        border-top-color: white; 
        border-top-width: 1px;   
     } 

    35%
    {
        border-right-color: white;
       
       border-right-width:1px;   
    }
    
    50%
    {
           border-bottom-color: white;
           border-bottom-width:1px;
    }

    75%
    {
         border-left-color: white;
         border-left-width:1px;
     }

     100%
     {
        /* box-shadow: 0 0 20px #2196f3,0 0 40px #2196f3;/*creates the neon effect*/
        /* background-color:#2196f3;  */
        /* transition:  background-color 20s;   */
        /* transition:  box-shadow 20s;   */ 
     }

     } 
    

@keyframes NeonLight

{
    
   0%
    {
       background-color: inherit;
    }

    25%
    {
        background-color: inherit;
    }
    
   
    
    100%
    {
        background-color:#2196f3; 
        box-shadow: 0 0 20px #2196f3,0 0 40px #2196f3;
        transition:  box-shadow 4s,background-color 1s;  
       
    }


}
#one{
	position:absolute;
	top:16%;
     width: 100%;
	background-color:#031321 ;
	height: 2000px;
	z-index: 1;
	box-sizing: border-box;
}
.ic3{
    box-sizing: border-box;
 position:absolute;
	top:1%;
	left: 40%;
	padding: 5px;
	border-radius:6px ;
	background-color:#330033 ; 
	color: #fff;
}
#ohnee{
	box-sizing: border-box;
 position:absolute;
	top:5%;
	background-color:#330033 ;
	width: 55%;
	left: 7%;
	height: 16%;
	z-index: 1;	
	border-radius:10px ;
}
.xxx{
	box-sizing: border-box;
 position:absolute;
	top:21%;
	width: 15%;
	left: 75%;
	color: #fff;
}
.img1{
	box-sizing: border-box;
 position:absolute;
	top:5%;
	width: 15%;
	left: 75%
}
#ohne{
	box-sizing: border-box;
 position:absolute;
	top:23%;
	background-color:#330033 ;
	width: 55%;
	left: 7%;
	height: 33%;
	z-index: 1;	
	border-radius:10px ;
}
#asd{
	padding: 10px;
	box-sizing: border-box;
	color: #fff;
}
#cvbnml{
	padding: 10px;
	box-sizing: border-box;
	color: #fff;
}
.vvv{
	padding:5px 15px;
	box-sizing: border-box;
 position:absolute;
	top:0.4%;
	left: 85%;
	padding: 5px;
	border-radius:6px ;
	background-color:#333 ; 
	color: #fff;
}
.linp{
	 box-sizing: border-box;
 position:absolute;
	top:0.5%;
	left: 67%;
	padding: 5px;
	border-radius:6px ;
	background-color:#330033 ; 
	color: #fff;
}
#fnll{
	position:absolute;
	top:3%;
	background-color:#bd2836 ;
	width: 50%;
	left: 10%;
	color: #fff;
	padding: 20px;
	border-radius: 5px;
}
#abc{
	position:absolute;
	top:10%;
	background-color: #130213;
	width: 100%;
	height: 1000px;
	}
.zzz{
	position: absolute;
	top: 26%;
	color: #fff;
	width: 50%;
  left: 10%;
  padding: 20px;
  border-radius: 6px;
  background-color:#330033; 
}
#q{
	color: #fff;
}
#cvbcv{
	color: black;
	font-weight: bold;
}
